# ========================
# Node.js (comum aos dois)
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Angular (frontend)
# ========================
frontend/.angular/cache/
frontend/.angular/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# ========================
# NestJS + Prisma (backend)
# ========================
backend/dist/
backend/.env
backend/.env.local
backend/prisma/*.db
backend/prisma/*.db-journal
backend/prisma/migrations/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Sistema operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# IDEs e editores
# ========================
.vscode/
.idea/

# ========================
# Testes e cobertura
# ========================
coverage/
test-results/

# ========================
# Docker (se estiver usando)
# ========================
docker-compose.override.yml
*.local.yml
.docker/

# ========================
# Outros
# ========================
.env
*.swp

/generated/prisma
